@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root{
  --midgrey:rgb(140, 127, 127);
  --lightgrey:rgba(216, 216, 216, 1);
  --orange:rgba(240, 151, 42, 1);
  --green:rgba(150, 187, 54, 1);
  --white:rgba(255, 255, 255, 1);
  --softwhite:rgba(248, 247, 242, 1);
  --darkgrey:rgba(98, 98, 98, 1);
}