@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

.span-container{
    font-family: 'Open Sans', sans-serif;
    color: white;

}

.circle-white{
    color: white;
    font-size: 20pt;
}

Nav{
    font-family: 'Roboto Slab', serif;
}

.span-container.mr-3{
    font-size: x-small;
}