@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

.createAccountButton {
    background: var(--green);
    box-shadow: 0px 3px 6px var(--darkgrey);
    border: none;
}

.createAccountButton:hover{
    background-color: var(--orange);
}

.circle-orange{
    color: var(--orange);
    font-size: 20pt;
}

.mr-2{
    color: var(--orange);
    font-weight: bold;
}

Nav{
    font-family: 'Roboto Slab', serif;
    font-size: smaller;
    font-weight: bold;
}

.nav-header{
    background-color: var(--softwhite);
}

.link:hover {
    transform: scale(1.07);
}