body {
  background: #f8f7f2 0% 0% no-repeat padding-box;
  opacity: 1;
}

.login-container {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-bottom: 100px;
}

.div-login {
  margin-top: 0px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

#login-title {
  height: 48px;
  margin-top: 20px;
  padding-right: 20px;
  text-align: left;
  font: normal normal bold 36px/48px Roboto Slab;
  letter-spacing: 0px;
  color: #96bb36;
  opacity: 1;
}

#hr8 {
  margin-top: 54px;
  flex-grow: 1;
  border: none;
  border-top: 1px solid silver;
}

.welcome-title {
  padding-top: 80px;
  padding-left: 0px;
  float: left;
}

.log-form-box {
  padding-top: 90px;
  margin-left: 55px;
}

#orange-letters-login {
  width: 253px;
  height: 60px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    46px/60px var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--orange);
  text-align: left;
  font: normal normal bold 46px/60px Roboto Slab;
  letter-spacing: 0px;
  color: #f0972a;
  padding-right: 12px;
}

#black-letters-login {
  width: 141px;
  height: 60px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    46px/60px var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--darkgrey);
  text-align: left;
  font: normal normal bold 46px/60px Roboto Slab;
  letter-spacing: 0px;
  color: #626262;
}

.text-box-login {
  width: 588px;
  height: 156px;
  padding-top: 20px;
  text-align: left;
  font: normal normal normal 20px/26px Roboto Slab;
  letter-spacing: 0px;
  color: #a5a5a5;
  float: left;
}

.login-form {
  display: flex;
  width: 100%;
  margin-left: 0px;
  float: left;
}

.first-box {
  margin-left: 0px;
  width: 60%;
}

.text-style {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    16px/21px var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--orange);
  text-align: left;
  font: normal normal bold 16px/21px Roboto Slab;
  letter-spacing: 0px;
  color: #f0972a;
  opacity: 1;
  display: flex;
  margin-bottom: 10px;
}

.btn-submit {
  display: block;
  background: #96bb36 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  border: none;
  opacity: 1;
  width: 123px;
  height: 40px;
  font: normal normal bold 15px/5px Roboto Slab;
  color: #ffff;
  text-transform: uppercase;
  margin-top: 38px;
}

.placeholder-style {
  width: 294px;
  height: 40px;
  background: #f0efea 0% 0% no-repeat padding-box;
}

#text-style-2 {
  margin-top: 21px;
}
