@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

.bi-arrow-right-square-fill:hover{
    color: var(--orange);
}

.bi-arrow-right-square-fill{
    font-size: 18px;
    margin-left: 35px;
    color:var(--green);
    border: none;
    cursor:pointer;
}

.modal-bg{
    width:520px;
    height:350px;
    box-shadow: 0 5px 20px rgb(255, 255, 255, 1);
    background-color: white;
    color:var(--midgrey);
    display:grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 10;
    border-radius:3px;
}

.modalImg{
    width:40%;
    height:36%;
    border-radius: 4px;
    position:absolute;
    margin-top:30px;
    margin-left:20px;
    top:10px;
    left:0px;
}

.bi-x{
    cursor:pointer;
    position:absolute;
    top:2px;
    right:20px;
    height:20px;
    width:5px;
    z-index: 10;
    background-color: transparent;
    color:var(--grey);
    padding-right: 0px;
    font-size:large;
}

.title{
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 20px;
    position: relative;
    font-size: large;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color:var(--orange);
    background: transparent;
}

.header{
    width: 300px;
    height: 35px;
}

h6{
    position:relative;
    color:var(--green);
    display: flex;
    flex: 1;
}

.details{
    font-family: 'Roboto Slab', serif;
    width:270px;
    color:var(--midgrey);
    position:flex;
    margin-top: 35px;
    margin-left: -75px;
    font-size: 0.7rem;
}

.description{
    font-family: 'Roboto Slab', serif;
    width:210px;
    height: 150px;
    color:var(--midgrey);
    position:flex;
    margin-top: -180px;
    margin-left: -300px;
    font-size: 0.6rem;
}

.descr-header{
    display: flex;
    height: 22px;
    width: 208px;
    
}

.badge-pill.pill-b{
    height: 15px;
    background-color: var(--green);
    color: white;
    align-self: center;
    margin-bottom: 3px;
}

.footer{
    font-family: 'Roboto Slab', serif;
    display: flex;
    margin-top: -40px;
    margin-left: 20px;
    width: 300px;
    height: 35px;
    color: var(--darkgrey);
}

i{
    padding-right: 5px;
    font-size:10px;
    font-weight:500;
    color: rgb(47, 44, 44);
}

body.modal-open .bg{
    filter: blur(7px);
    -webkit-filter: blur(7px);
}

.modal-content {
    background-color: transparent !important;
}

.pulse{
    overflow: visible;
}

.pulse:before{
    background-color: inherit;
    border-radius: inherit;
    transition: opacity .3s, transform .3s;
    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1;
  }
  
  @keyframes pulse-animation{
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.3);
    }
  }