.custom-spacing-10{
    border-bottom: 5px solid #F8F7F2;
}
.color-midgrey{
    color: #A5A5A5;
}
.custum-font-size-12{
    font-size: 12px;
}
.custom-btn{
    width: 50%;
    background: #96BB36;
    border: none;
}
.custom-btn:hover{
    background: #96BB36;
}
.custom-style{
    border: none;
    background: none;
}
.bi-trash-fill{
    font-size: 25px;
}