.article-title-h2{
    width: 250px;
    height: 20px;
    font-weight:bolder;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-size: 20px;
    color: var(--green);
    padding-bottom: 25px;
}
.custom-article-line{
    width: 115%;
    height: 1.5px;
    background-color: var(--lightgrey);
}
.bi-plus-circle-fill{
    position: relative;
    font-size: 35px;
    top: 8px;
    left: 95px;
    color: var(--orange);
    cursor: pointer;
}