@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

.createAccountButton {
    background: var(--green);
    box-shadow: 0px 3px 6px var(--darkgrey);
    border: none;
    width: 120px;
    height: 35px;
    font-size: 10px;
    font-weight: bolder;
    padding-top: 11px;
}

.loginButton{
    background: var(--softwhite);
    color: var(--midgrey);
    box-shadow: 0px 3px 6px var(--darkgrey);
    border-style: solid;
    border-color: var(--midgrey);
    width: 70px;
    height: 35px;
    font-size: 10px;
    font-weight: bolder;
    padding-top: 11px;
}

.logoutLink{
    background: transparent;
    color: var(--midgrey);
    font-size: 10px;
    font-weight: bolder;
    padding: 0;
}

.myRecipesLink{
    background: transparent;
    color: var(--green);
    font-size: 10px;
    font-weight: bolder;
    padding: 0;
}

.myProfileLink{
    background: transparent;
    color: var(--orange);
    font-size: 10px;
    font-weight: bolder;
    padding: 0;
}

.logoutLink:hover{
    background-color: transparent;
    color: var(--midgrey);
    transform: scale(1.1);
}

.myProfileLink:hover{
    background-color: transparent;
    color: var(--orange);
    transform: scale(1.1);
}

.myRecipesLink:hover{
    background-color: transparent;
    color: var(--green);
    transform: scale(1.1);
}

.createAccountButton:hover{
    background-color: var(--orange);
}

.loginButton:hover{
    background-color: var(--midgrey);
    color: white;
    border-color: var(--midgrey);
}

.circle-orange{
    color: var(--orange);
    font-size: 20pt;
    margin-top: -2px;
}

.circle-grey{
    color: var(--darkgrey);
    font-size: 15pt;
    margin-top: -12px;
    padding: 5px;
}

.mr-2{
    color: var(--orange);
    font-weight: bold;
}

.header{
    margin-top: 5px;
    margin-right: 25px;
}

.nav-header{
    font-family: sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    padding-left: 115px !important;
    padding-right: 80px !important;
    background-color: var(--softwhite);
}

.link:hover {
    transform: scale(1.07);
}

.user{
    color: var(--orange);
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    padding-top: 10px;
}

.avatar{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.actions{
    font-family: 'Roboto Slab', serif;
    padding-left: 20px;
}