@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

.bi-arrow-right-square-fill:hover{
    color: var(--orange);
}

.bi-arrow-right-square-fill{
    font-size: 15px;
    margin-left: 20px;
    color:var(--green);
    border: none;
    cursor:pointer;
}

.modal-bg{
    height:max-content;
    box-shadow: 0 5px 20px rgb(255, 255, 255, 1);
    background-color: white;
    color:var(--midgrey);
    display:grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: max-content max-content max-content;
    grid-gap:10px;
    position: relative;
    z-index: 10;
    border-radius:3px;
}

.modalImg{
    width:200px;
    height:120px;
    border-radius: 4px;
    margin-top:50px;
    margin-left:20px;
    top:10px;
    left:0px;
    grid-column: 1;
    grid-row: 1;
}

.bi-x{
    cursor:pointer;
    position:absolute;
    top:2px;
    right:20px;
    height:20px;
    width:5px;
    z-index: 10;
    background-color: transparent;
    color:var(--grey);
    padding-right: 0px;
    font-size:large;
}

.title{
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 5px;
    position: relative;
    font-size: large;
    font-weight: 650;
    font-family: 'Roboto Slab', serif;
    color:var(--orange);
    background: transparent;
    grid-column: 1;
    grid-row: 1;
}

.modal-header{
    width: max-content;
    grid-column: 1;
    grid-row: 1;
    border: none;
}

h6{
    position:relative;
    color:var(--green);
    display: flex;
    flex: 1;
}

.details{
    font-family: 'Roboto Slab', serif;
    max-width: 220px !important;
    overflow-wrap: break-word;
    color:var(--midgrey);
    margin-top: 45px;
    font-size: 0.7rem;
    justify-content: flex-start;
    grid-column: 2;
    grid-row: 1/3;
}

.description{
    font-family: 'Roboto Slab', serif;
    max-width: 210px !important;
    overflow-wrap: break-word;
    color:var(--midgrey);
    font-size: 0.6rem;
    margin-left: 20px;
    grid-column: 1;
    grid-row: 2;
}

.descr-header{
    display: flex;
    height: 25px;
    max-width: 210px !important;
}

.badge-pill.pill-b{
    height: 20px;
    background-color: var(--green);
    color: white;
    align-self: center;
    margin-bottom: 3px;
    font-size: 10px;
}

.footer{
    font-family: 'Roboto Slab', serif;
    width: 210px;
    height: 30px;
    color: var(--darkgrey);
    position: relative;
    bottom: 0;
    left: 10px;
    grid-column: 1;
    grid-row: 3;
}

i{
    padding-right: 5px;
    font-size:10px;
    font-weight:500;
    color: rgb(47, 44, 44);
}

.footer .bi{
    padding-left: 10px;
}

body.modal-open .bg{
    filter: blur(7px);
    -webkit-filter: blur(7px);
}

.modal-content {
    background-color: transparent !important;
}

.pulse{
    overflow: visible;
}

.pulse:before{
    background-color: inherit;
    border-radius: inherit;
    transition: opacity .3s, transform .3s;
    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1;
  }
  
  @keyframes pulse-animation{
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.3);
    }
  }