.table-light{
    width: 700px !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.py-5{
    border-bottom: 5px solid #F8F7F2;
}

.py-3{
    color:var(--midgrey);
}

.font-weight-bold{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.main{
    color: var(--orange);
    background-color: var(--softwhite)
}

.categorybtn{
    width: 90px;
    height: 30px;
    font-size: x-small;
    color: var(--white);
    background-color: var(--green);
    border: none;
}

.categorybtn:hover{
    background-color: var(--midgrey);
    color: var(--white);
}

.bi-trash-fill{
    color: var(--midgrey);
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
}

.bi-trash-fill:hover{
    color: var(--green);
}

.skeleton2{
    margin-top: 10px;
    width: 700px !important;
    height: 50px;
}

.loading{
    margin-top: 30px;
    margin-left: 130px;
    margin-bottom: 50px;
    height: min-content;
}
