.div-new-recipe {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  padding-left: 80px;
}

#line {
  flex: 1;
  margin-top: 17px;
  margin-left: -130px;
  margin-right: 10px;
  width: fit-content;
  height: 1.5px;
  background-color: var(--lightgrey);
}

#newrecipe-title {
  width: 250px;
  height: 20px;
  font-weight:bolder;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-size: 20px;
  color: var(--green);
}

.back-div {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: var(--orange);
  cursor: pointer;
}

.icon-back {
  padding-left: 8px;
  justify-self: center;
  align-self: center;
  color: var(--orange);
}

.new-recipe-form {
  display: flex;
  flex-direction: row;
  width: 90%;
  float: left;
  margin-left: 80px;
  margin-top: 20px;
}

.img-upload {
  width: min-content;
  margin-right: 10px;
  margin-top: 5px;
}

#recipeimg {
  width: 170px;
  height: 100px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 5px var(--midgrey);
  margin-bottom: 10px;
}

input[type="file" i]{
  width: 170px;
  color: var(--orange);
  font: normal normal bold 12px 'Roboto Slab', serif;
}

.div-form-column {
  display: flex;
  flex-direction: column;
}

.div-form-wrapper {
  display: flex;
  flex-direction: row;
}

.other-information {
  display: flex;
  flex-direction: column;
  width: min-content;
}

.first-part{
  width: min-content;
}

.rcp-title-label {
  width: 400px;
  text-align: left;
  font: normal normal bold 15px/20px Roboto Slab;
  letter-spacing: 0px;
  color: var(--orange);
  margin-bottom: 10px;
}

.rcp-title-input {
  width: 400px;
  height: 40px;
  background: var(--softwhite) 0% 0% no-repeat padding-box;
  font: normal normal bold 14px/19px Roboto Slab;
  color: var(--midgrey);
  border: 1px solid var(--midgrey);
  border-radius: 5px;
  opacity: 1;
  padding: 10px;
}

.second-part {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.category-label {
  width: 120px;
  text-align: left;
  font: normal normal bold 15px/20px Roboto Slab;
  letter-spacing: 0px;
  color: var(--orange);
}

.category-select {
  width: 135px;
  height: 40px;
  background: var(--softwhite) 0% 0% no-repeat padding-box;
  border: 1px solid var(--midgrey);
  border-radius: 5px;
  opacity: 1;
  text-align: left;
  font: normal normal bold 12px/17px Roboto;
  letter-spacing: 0px;
  color: var(--midgrey);
  padding: 10px;
  margin-right: 10px;
}

.preptime-label {
  width: 150px;
  text-align: left;
  font: normal normal bold 15px/20px Roboto Slab;
  letter-spacing: 0px;
  color: var(--orange);
}

.preptime-input {
  width: 140px;
  height: 40px;
  background: var(--softwhite) 0% 0% no-repeat padding-box;
  border: 1px solid var(--midgrey);
  border-radius: 5px;
  opacity: 1;
  text-align: left;
  font: normal normal bold 14px/19px Roboto;
  letter-spacing: 0px;
  color: var(--midgrey);
  padding: 10px;
  margin-right: 10px;
}

.no-people-label {
  width: 100px;
  text-align: left;
  font: normal normal bold 15px/20px Roboto Slab;
  letter-spacing: 0px;
  color: var(--orange);
}

.no-people-input {
  width: 105px;
  height: 40px;
  background: var(--softwhite) 0% 0% no-repeat padding-box;
  border: 1px solid var(--midgrey);
  border-radius: 5px;
  opacity: 1;
  text-align: left;
  font: normal normal bold 14px/19px Roboto;
  letter-spacing: 0px;
  color: var(--midgrey);
  padding: 10px;
  margin-right: 10px;
}

.third-part {
  margin-top: 20px;
}

.short-description-label {
  width: 400px;
  text-align: left;
  font: normal normal bold 15px/20px Roboto Slab;
  letter-spacing: 0px;
  color: var(--orange);
}

.short-description-label-input {
  width: 400px;
  height: 100px;
  background: var(--softwhite) 0% 0% no-repeat padding-box;
  border: 1px solid var(--midgrey);
  border-radius: 5px;
  opacity: 1;
  text-align: left;
  font: normal normal bold 14px/19px Roboto;
  letter-spacing: 0px;
  color: var(--midgrey);
  padding: 10px;
}

.fourth-part{
  width: min-content;
}

.main-recipe-label {
  width: 250px;
  text-align: left;
  font: normal normal bold 15px/20px Roboto Slab;
  letter-spacing: 0px;
  color: var(--orange);
}

.main-recipe-label-input {
  width: 250px;
  height: 280px;
  background: var(--softwhite) 0% 0% no-repeat padding-box;
  border: 1px solid var(--midgrey);
  border-radius: 5px;
  opacity: 1;
  text-align: left;
  font: normal normal bold 14px/19px Roboto;
  letter-spacing: 0px;
  color: var(--midgrey);
  margin-top: 2px;
  padding: 10px;
}

.recipe-save-btn {
  width: 100px;
  height: 35px;
  background: var(--green) 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 6px var(--midgrey);
  opacity: 1;
  text-align: center;
  font: normal normal 900 14px/19px Roboto;
  letter-spacing: 0px;
  color: var(--white);
  border-radius: 5px;
  border: none;
  float: left;
  margin-top: 20px;
  cursor: pointer;
}

.recipe-save-btn:hover{
  background-color: var(--orange);
  color: white;
  border-color: var(--midgrey);
}


::placeholder { 
  color: var(--lightgrey);
  opacity: 1; 
}

.form-control::placeholder { 
  color: var(--lightgrey);
  opacity: 1; 
}